{% extends "base.html"%}
{% block content %}
	<h1>Sobre Cloze</h1>
	<h3>Cloze es un espacio donde puedes compartir aquellas 
	cosas que mas te han ayudado en tu aprendizaje como desarrollador</h3>
	<h3>Somos de la creencia que aprendiendo acompañado el viaje se vuelve mejor. Buscamos ser un espacio donde ya sea si 
		eres un desarrollador nuevo o experimentado encuentres contenido de valor para ti y tus proyectos
	</h3>
	<h3>buscamos fomentar la cercanía y el dialogo en el desarrollo, con cada post que compartes ayudas a la comunidad a crear cosas maravillosas
		con ideas, material o inspiración <br> </h3>
{% endblock content %}

